h1 {
	text-align: left;
	color: #ff0000;
	padding-top: 50px;
	padding-left: 50px;
	font-family: 'Anton', sans-serif;
	
	}

	body {
		background-image: url("../images/beer.jpg");
		font-size: 298%;
		background-repeat: no-repeat;
		background-position: top;
		height: 100;
	}

	